#features {
   padding: 50px 0;
}
.features-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin: 0 15px;
}
.features-card {
   width: 340px;
   margin: 0 15px;
   margin-bottom: 50px
}
.features-card__img {
   border: 1px solid #fff;
   width: 100px;
   height: 100px;
@include features-img;
}

h2 {
@include features-title
}

.feature-discription{
   text-align: center;
}
p {
@include feature-discription
}

.features-card__img img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center;
}