#ourteam {
   padding: 100px 0;
}
.ourteam-wrap {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin: 0 15px;

.person-card {
   width: 270px;
   margin: 0 -15px;


   .person-img{
      border: 1px solid #fff;
      width: 260px;
      height: 260px;
      overflow: hidden;
      margin-bottom: 40px;
}

.person-img__item{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;  
}

.ourteam-name{
   @include ourteam-name
}

.ourteam-profession {
   @include ourteam-profession
}

}

.ourteam-discription{
   margin-bottom: 30px;
   
   p {
   @include ourteam-discription
   }
}


.ourteamnav-list{
   display: flex;

   li{
      border: 1px solid #C6CBCD;
      width: 39px;
      height: 39px;
      margin-right: 5px;
      padding: 10px;
      text-align: center; 
      

      a{
         color: #C6CBCD;
         .fa-facebook{
            transition: 1s;
         }
         .fa-twitter{
            transition: 1s;
         }
         .fa-linkedin {
            transition: 1s;
         }
      }
      .fa-facebook:hover{
         transform: scale(1.5);
         transition: 1s;
         color: blue;
      }
      .fa-twitter:hover{
         transform: scale(1.5);
         transition: 1s;
         color: blue;
      }
      .fa-linkedin:hover{
         transform: scale(1.5);
         transition: 1s;
         color: blue;
      }
   }
}
}